<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My pics Blog</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500" rel="stylesheet">
  </head>
  <body>
      <header class='container'>
        <div class='logo'>
          <a href='http://goroh.co' target='_blank' title='visit goroh studio website'><img src='http://goroh.co/img/logo.svg' class='logo-img'></a>
        </div>
        <nav>
          <ul>
            <li><a href='/'>Home</a</li>
            <li><a href='#'>About</a></li>
            <li><a href='#'>Contact</a></li>
            <li><a href='/login'>Login</a></li>
            <li><a href='/register'>Register</a></li>
            <li><a href='/logout'>Log out</a></li>
          </ul>
        </nav>
      </header>

