<% include ./partials/header %>

<div class='container'>
    <h1>Login</h1>
    <div class='new-post__main'>
        <form action='/login' method='POST'>
            <label>username:</label><br>
            <input type='text' name='username' class='set-width'><br>
            <label>password:</label><br>
            <input type='password' name='password' class='set-width'><br>
            <button class='post-submit__btn'>Login</button>
        </form>
    </div>
</div>
<% include ./partials/footer %>