<% include ./partials/header %>


<div class='container'>
    <h1>Add new post</h1>
    <div class='main'>
        <form action='/posts' method='POST'>
            <label>Post title:</label><br>
            <input type='text' name='post[title]'><br>
            <label>Image source:</label><br>
            <input type='text' name='post[image]'><br>
            <label>Post content:</label><br>
            <textarea name='post[body]'></textarea><br>
            <input type='submit' class='post-submit__btn'>
        </form>
    </div>






<% include ./partials/footer %>