<% include ./partials/header %>


<div class='container'>
    <div class='post-page'>
    <h1><%= post.title %></h1>
    <img src='<%= post.image %>' class='show-post'><br>
    <span><%= post.created %></span>
    <p><%= post.body %></p>
    <a href='/posts'>Back to Main</a>
    </div>






<% include ./partials/footer %>