html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    color: #293249;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #507274;
    font-weight: 300;
}

header {
    position: relative;
    margin: 0 20px;
}

.logo {
    margin-top: 20px;
}

.logo img  {
    height: 40px;
    width: auto;
}

nav {
    position: absolute;
    top: -5px;
    right: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

p {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;    
}

input.set-width {
    width: 37.2%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-post {
    max-width: 300px;
}

.main-post h2 {
   text-align: center;
}

.main-post img {
    max-width: 280px;   
    display: block;
    margin: 0 auto;
}

.add-new__btn {
    padding: 5px;
    border: 1px solid #507274;
    margin-bottom: 10px;
    transition: all 500ms ease;
}

.add-new__btn:hover {
     color: #ffffff;   
     background: #507274;
}

.read-more__btn {
    padding: 5px;
    border: 1px solid #507274;
    transition: all 500ms ease;
}

.read-more__btn:hover {
     color: #ffffff;   
     background: #507274;
}

.post-submit__btn {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: .1em;
    padding: 5px;
    border: 1px solid #507274;
    transition: all 500ms ease;   
    background: #ffffff;
    color:  #507274 ;
}

.post-submit__btn:hover {
     color: #ffffff;   
     background: #507274;  
}

.show-back__btn {
    padding: 5px;
    border: 1px solid #507274;
    transition: all 500ms ease;
}

.show-back__btn:hover {
     color: #ffffff;   
     background: #507274;    
}

.show-edit__btn {
    padding: 5px;
    color: #5E4A91;
    border: 1px solid #5E4A91;
    transition: all 500ms ease;  
}

.show-edit__btn:hover {
     color: #ffffff;   
     background: #5E4A91; 
}

.show-delete__btn {
    margin-top: 1px;
    padding: 8.75px;
    font-size: 1em;
    background: #ffffff;
    color: #751A1A;
    border: 1px solid #751A1A;
    transition: all 500ms ease;    
}

.show-delete__btn:hover {
     color: #ffffff;   
     background: #751A1A;    
}

.post-page form {
    display: inline;
}

.post-page button {
    background: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

.add-comment__btn {
    padding: 5px;
    color: green;
    border: 1px solid green;
    transition: all 500ms ease;  
}

.add-comment__btn:hover {
     color: #ffffff;   
     background: green; 
}


footer {
    text-align: center;
    margin-top: 10px;
}

label {
    font-weight: 300;
}

.show-post {
    max-width: 500px;
}

.inline-form {
    display: inline;
}