<% include ../partials/header %>

<div class='container'>
    <h1>Add new post</h1>
    <div class='new-post__main'>
        <form action='/posts' method='POST'>
            <label>Post title:</label><br>
            <input type='text' name='post[title]' class='set-width'><br>
            <label>Image source:</label><br>
            <input type='text' name='post[image]' class='set-width'><br>
            <label>Post content:</label><br>
            <textarea name='post[body]' cols="60" rows="20"></textarea><br>
            <input type='submit' class='post-submit__btn'>
        </form>
    </div>
</div>
<% include ../partials/footer %>